@import "tailwindcss";

@theme {
  --color-primary: #0F172A;         /* พื้นหลังหลัก (Background/Main ) */
  --color-secondary: #1E293B;       /* พื้นหลังรอง (Card) */
  --color-accent: #38BDF8;          /* เน้นข้อความ / Icon / Hover ปุ่ม */
  --color-cta: #14B8A6;             /* ปุ่ม */
  --color-neutral-bg: #F1F5F9;      /* พื้นหลังสว่าง (About, Project ) */
  --color-text-main: #E2E8F0;       /* ตัวอักษรหลัก */
  --color-text-heading: #F8FAFC;    /* หัวข้อใหญ่ */ 
  --color-border: #334155;          /* เส้นขอบ card/ */
  --color-warning: #FACC15;         /* ใช้กับ icon/alert หรือ badge  */
}

@layer base {
  body {
    background-color: var(--color-background-main);
    color: var(--color-text-default);
  }
}